@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap);
.c_red {
  color: #FFF;
  padding: 2px;
  border-radius: 2px;
  font-size: 1em;
  background-color: #ff0000;
}

.c_yellow {
  color: #000000;
  padding: 2px;
  border-radius: 2px;
  font-size: 1em;
  background-color: #FFFF00;
}

.c_green {
  color: #000000;
  padding: 2px;
  border-radius: 2px;
  font-size: 1em;
  background-color: #00d600;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.page {
  width: 100%;
  max-width: 800;
  height: 100vh;
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 240px) {
  .page {
    padding-left: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

.nav_desktop {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: -webkit-box;
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  color: #000;
  background-color: #FFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  z-index: 1500;
}
.nav_desktop .nav__content {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav__icon {
  float: left;
  width: 40px;
  height: 40px;
  padding: 8px;
}
.nav_desktop .nav__content .nav__icon .logo_svg {
  width: 100%;
  height: auto;
}
.nav_desktop .nav__content .nav__content_line {
  float: left;
  width: 180px;
  height: auto;
  min-height: 56px;
  padding: 0 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav__content_line .nav__line_f {
  width: auto;
  height: auto;
  padding: 8px 0 0 0;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav__content_line .nav__line {
  width: auto;
  height: auto;
  font-size: 0.9em;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav_exp {
  float: right;
  width: auto;
  height: auto;
  padding: 12px 16px 0 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 708px) {
  .nav_desktop .nav__content .nav_exp {
    padding-top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
.nav_desktop .nav__content .nav_exp .nav_exp__line {
  float: left;
  height: 24px;
  font-size: 0.7em;
  font-weight: 300;
  margin: 0 4px;
  align-items: mid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav_exp .nav_exp__line span {
  font-weight: 500;
}
.nav_desktop .nav__content .nav__cta {
  float: left;
  width: 100%;
  height: auto;
  min-width: 36px;
  margin: 0 16px 8px 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav__cta .nav__cta_btn {
  float: left;
  font-size: 0.7em;
  color: #5286e6;
  line-height: 36px;
  margin-right: 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.nav_desktop .nav__content .nav__cta .nav__cta_ofq {
  float: left;
  font-size: 0.7em;
  color: #5286e6;
  line-height: 36px;
  margin: 0 8px 0 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 299px) {
  .nav_desktop .nav__content .nav__cta .nav__cta_ofq {
    width: 80%;
    margin: 0;
    text-align: right;
    margin-right: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
.nav_desktop .nav__content .nav__cta .nav__cta_ck {
  float: left;
  margin-top: 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.Nav_scroll {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: -webkit-box;
  display: flex;
  position: fixed;
  width: 100%;
  height: auto;
  color: #000;
  background-color: #FFF;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  z-index: 1500;
}
.Nav_scroll .nav__content {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav__icon {
  float: left;
  width: 40px;
  height: 40px;
  padding: 8px;
}
.Nav_scroll .nav__content .nav__icon .logo_svg {
  width: 100%;
  height: auto;
}
.Nav_scroll .nav__content .nav__content_line {
  float: left;
  width: 180px;
  height: auto;
  min-height: 56px;
  padding: 0 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav__content_line .nav__line_f {
  width: auto;
  height: auto;
  padding: 8px 0 0 0;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav__content_line .nav__line {
  width: auto;
  height: auto;
  font-size: 0.9em;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav_exp {
  float: right;
  width: auto;
  height: auto;
  padding: 12px 16px 0 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 708px) {
  .Nav_scroll .nav__content .nav_exp {
    padding-top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
.Nav_scroll .nav__content .nav_exp .nav_exp__line {
  float: left;
  height: 24px;
  font-size: 0.7em;
  font-weight: 300;
  margin: 0 4px;
  align-items: mid;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav_exp .nav_exp__line span {
  font-weight: 500;
}
.Nav_scroll .nav__content .nav__cta {
  float: left;
  width: 100%;
  height: auto;
  min-width: 36px;
  margin: 0 16px 8px 16px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav__cta .nav__cta_btn {
  float: left;
  font-size: 0.7em;
  color: #5286e6;
  line-height: 36px;
  margin-right: 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.Nav_scroll .nav__content .nav__cta .nav__cta_ofq {
  float: left;
  font-size: 0.7em;
  color: #5286e6;
  line-height: 36px;
  margin: 0 8px 0 12px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 299px) {
  .Nav_scroll .nav__content .nav__cta .nav__cta_ofq {
    width: 80%;
    margin: 0;
    text-align: right;
    margin-right: 8px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}
.Nav_scroll .nav__content .nav__cta .nav__cta_ck {
  float: left;
  margin-top: 6px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.f_right {
  float: right;
}

.table_details {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table_details table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}
.table_details tbody tr td {
  padding: 8px;
  line-height: 1.4em;
  vertical-align: top;
  border-top: 1px solid #F5F5F5;
}
.table_details tbody tr th {
  padding: 8px;
  line-height: 1.4em;
  vertical-align: top;
  border-top: 1px solid #F5F5F5;
}
.table_details .table_title_result {
  background-color: #3d99e6;
  font-size: 1.1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.8;
  color: #FFF;
  width: 80%;
}
.table_details .table_details__title {
  background-color: #90CAF9;
  font-size: 1.1em;
  font-weight: 700;
  color: #263238;
  width: 80%;
}
.table_details .table_details__subtitle {
  background-color: #BBDEFB;
  font-size: 1em;
  font-weight: 600;
  color: #37474F;
}
.table_details .table_details__subtitle:hover {
  cursor: pointer;
}
.table_details .table_details__child {
  background-color: transparent;
  font-size: 0.9em;
  font-weight: 400;
  color: #424242;
}
.table_details .table_details__child:hover {
  cursor: pointer;
}
.table_details .table_details__child .status_pass {
  color: green;
}
.table_details .table_details__child .status_fail {
  color: red;
}
.table_details .table_details__question {
  background-color: #FAFAFA;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  color: #757575;
}
.table_details .table_details__question:hover {
  cursor: pointer;
}
.table_details .table_details__percent {
  min-width: 40px;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

.table_header_ap {
  margin-right: 15px;
  background-color: #FFF;
}
.table_header_ap .table_header_ap__title {
  font-weight: bold;
  font-size: 1.3em;
}
.table_header_ap .table_header_ap__subtitle {
  font-weight: bold;
  font-size: 1em;
}
.table_header_ap .list {
  margin-top: 12px;
  width: 100%;
  background-color: #FFF;
}
.table_header_ap .list td {
  border: 0;
}
.table_header_ap .list .ml_line_p {
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 12px 16px;
  background-color: #90CAF9;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 320px) {
  .table_header_ap .list .ml_line_p {
    padding-bottom: 60px;
  }
}
.table_header_ap .list .ml_line_p:hover {
  cursor: pointer;
}
.table_header_ap .list .ml_line_p .ml_line_p__container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_line_p_content {
  float: left;
  width: calc(100% - 190px);
  height: auto;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 320px) {
  .table_header_ap .list .ml_line_p .ml_line_p__container .ml_line_p_content {
    width: 100%;
  }
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_line_p_content .ml_line_p-title {
  width: 100%;
  height: auto;
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_line_p_content .ml_line_p-label {
  font-size: 0.5em;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_line_p_content .ml_line_p-text {
  font-size: 1em;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_item_due_date {
  float: left;
  width: 190;
  font-size: 0.7em;
  text-align: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_item_due_date .ml_item_due_date1 {
  float: left;
  width: auto;
  font-weight: 400;
  cursor: pointer;
  padding-right: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_p .ml_line_p__container .ml_item_due_date .ml_item_due_date2 {
  float: left;
  width: auto;
  font-weight: 400;
  cursor: pointer;
  padding-right: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_s {
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 8px 16px;
  background-color: #BBDEFB;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_s .ml_line_s__container {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_s .ml_line_s__container .ml_line_s_content {
  float: left;
  width: calc(100% - 100px);
  height: auto;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
@media (max-width: 320px) {
  .table_header_ap .list .ml_line_s .ml_line_s__container .ml_line_s_content {
    width: 100%;
  }
}
.table_header_ap .list .ml_line_s .ml_line_s__container .ml_line_s_content .ml_line_s-label {
  color: #616161;
  font-size: 0.8em;
  font-weight: 500;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .ml_line_s .ml_line_s__container .ml_line_s_content .ml_line_s-text {
  color: #424242;
  font-size: 0.9em;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .list .action_details {
  width: 100%;
  height: auto;
  min-height: 48px;
  padding: 16px;
  background-color: #FAFAFA;
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  color: #757575;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.table_header_ap .table_header_ap_text {
  font-size: 0.9em;
  font-weight: 400;
  padding-bottom: 8px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*# sourceMappingURL=style.css.map */
