// Custom devices

@mixin rwd-min($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}

@mixin rwd-max($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

@mixin p-device($breakpoint) {

    @media (orientation: portrait) {
        @media (min-width: $breakpoint+'px') {
            @content;
        }
    }
}

@mixin l-device($breakpoint) {
    @media (orientation: landscape) {
        @media (min-width: $breakpoint+'px') {
            @content;
        }
    }
}

@mixin box-sizing($box) {
    box-sizing: $box;
    -webkit-box-sizing: $box;
    -moz-box-sizing: $box;
}

@mixin shadow-b($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin position($sticky) {
    position: $sticky;
    position: -webkit-+$sticky;
}